{% extends 'base.html' %}


{% block content %}

<div class="jumbotron" >
    <center>
        <h1>urls  when the shorter .....the better</h1>
        <br>
        <br>
        <a href="/create/"><button type="button" class="btn btn-secondary">Create New URL</button></a>
    </center>
    <br>
    <br>
    <br>
    <!-- <center>
        <h3>Check Out My Other Projects</h3>
        <a href="https://www.youtube.com/channel/UCgF78i8PUYdKLgjpyeCJ7Qg"><button type="button"
                class="btn btn-info">Here</button></a>
    </center> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<!-- <div class="jumbotron">
    <center>
        <h3>Check Out My Other Projects</h3>
        <a href="https://www.youtube.com/channel/UCgF78i8PUYdKLgjpyeCJ7Qg"><button type="button"
                class="btn btn-info">Here</button></a>
    </center>
</div> -->
{% endblock content %}